@model MLGbudgeter.Models.Household
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<div>
    @Html.ActionLink("Invite", "Households", null, new { @class = "btn btn-xs btn-info" })
</div>
<p>
    @if (Model.Members.Count == 0)
    {
        @Html.ActionLink("Create New", "Create")
    }
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>
    <tr>
        <td>
            @Html.DisplayFor(model => model.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
            @Html.ActionLink("Details", "Details", new { id = Model.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = Model.Id })
            <p>
                @if (Model.Members.Count == 0)
                {
                    @Html.ActionLink("Create", "PersonalAccounts", null, new { @class = "btn btn-xs btn-success" })
                }

            </p>
        </td>
    </tr>
</table>
